<p style="text-align: justify;">
  <strong> {{ request.session.sistema_ente.nome }} </strong>,
  sua adesão ao Sistema Nacional de Cultura – SNC está quase concluída.
  
</p>
<p style="text-align: justify;"></pstyle>
  Para tanto, basta complementar seus dados cadastrais a opção Alterar Ente Federado <a href="{% url 'adesao:alterar_sistema' pk=request.session.sistema_cultura_selecionado.id %}" >aqui</a>. 

</p><p style="text-align: justify;"></pstyle>Lembramos que são de responsabilidade do ente federado, sob as penas da lei, a autenticidade dos documentos apresentados e a veracidade das informações prestadas.
</p>

</p>

