<h2>Adesão ao Sistema Nacional de Cultura
  <a class="anchorjs-link" href="#auto-truncating">
    <span class="anchorjs-icon"></span>
  </a>
</h2>
<p style="text-align: justify;">
  <strong> {{ request.session.sistema_ente.nome }} </strong>,
  sua adesão ao Sistema Nacional de Cultura – SNC está quase concluída.
  Para efetivar a adesão, é necessário que o Acordo de Cooperação Federativa
  (disponível no menu principal da coluna à esquerda) seja enviado para à equipe do SNC.
</p>
<p style="text-align: justify;"></pstyle>
Para tanto, imprima o Acordo de Cooperação Federativa para a assinatura do Governador (a) ou do Prefeito (a) e insira o Acordo assinado clicando <a href="{% url 'adesao:solicitar_adesao'  %}" >aqui</a>. 

</p><p style="text-align: justify;"></pstyle>A Equipe do Sistema Nacional de Cultura (SNC) concluirá a formalização da adesão do seu estado ou município e enviará uma mensagem de confirmação da adesão para o e-mail cadastrado.
</p><p style="text-align: justify;"></pstyle>Lembramos que são de responsabilidade do ente federado, sob as penas da lei, a autenticidade dos documentos apresentados e a veracidade das informações prestadas.
</p>

</p>

