<h3>Dados do Gestor de Cultura</h3>

<ul>
      <li>
          Nome:
          <a class="link-plain" href="#">{{ request.session.sistema_gestor_cultura.nome }}</a>

      </li>
      <li>
          CPF:
          <a class="link-plain" href="#">{{ request.session.sistema_gestor_cultura.cpf }}</a>

      </li>
      <li>
          Cargo:
          <a class="link-plain" href="#">{{ request.session.sistema_gestor_cultura.cargo }}</a>

      </li>
      <li>
          Instituição:
          <a class="link-plain" href="#">{{ request.session.sistema_gestor_cultura.instituicao }}</a>

      </li>
</ul>
<br />
