{% extends "base.html" %} {% block content %}
<p>
  <h3><strong>Contato</strong></h3>
</p>
<hr />
<p>
  <strong>Dúvidas e Informações:</strong>
</p>
<p>
  Secretaria Especial da Cultura <br />
  Esplanada dos Ministérios, bloco B, 3º andar. <br />
  CEP: 70.068-900 Brasília-DF <br />
  E-mail: snc@turismo.gov.br
<br/><br/>
<p>
  <strong>ATENDIMENTO AO CIDADÃO</strong></p>
<p>
  Acesse o Webchat <a href="http://www.tellussa.com.br/webchats/index.php?chat=e077ae5eb8b1d5f7d7e31d9469f3359f" target="blank">CLICANDO AQUI</a> para falar com o Atendimento ao Cidadão, obter informações e esclarecer dúvidas. O atendimento é gratuito e feito diariamente, de 2ª a 6ª feira, das 8h às 20h.
  
</p>

{% endblock content %}

