{% extends "base.html" %} {% load i18n %} {% block content %}
    {% if request.session.sistema_cultura_selecionado.estado_processo == '0' or  not request.session.sistema_cultura_selecionado.estado_processo %}
      <h2>{% blocktrans %}Bem-vindo ao Sistema Nacional Cultura{% endblocktrans %}
        <a class="anchorjs-link" href="#auto-truncating">
          <span class="anchorjs-icon"></span>
        </a>
      </h2>
    {% endif %}

    {% if request.session.sistemas and not request.session.sistema_cultura_selecionado %}
      <form action="{% url 'adesao:define_sistema_sessao' %}" class="form-horizontal" method="post">
          {% csrf_token %}
        <p style="text-align: justify;">
            {% blocktrans %}
              Por favor, selecione abaixo o ente federado o qual deseja gerenciar:
            {% endblocktrans %}
        </p>
        <select class="form-control" name="sistema">
          <option value="">Selecione um ente federado</option>
            {% for sistema in request.session.sistemas %}
              <option value={{ sistema.id }}>{{ sistema.ente_federado__nome }}</option>
            {% endfor %}
        </select>
        <br/>
        <input type="submit" class="btn btn-success" value="Confirmar"/>
      </form>
    {% else %}
        {% if request.session.sistema_cultura_selecionado.estado_processo == '0' or not request.session.sistema_cultura_selecionado %}
        {% if request.session.sistema_sede.cnpj is None or request.session.sistema_gestor.cpf is None or request.session.sistema_sede.cnpj !=  '' and request.session.sistema_gestor.cpf !=  '' %}
          <p style="text-align: justify;">{% blocktrans %}O Sistema Nacional de Cultura é um processo de gestão e
          promoção das políticas públicas de cultura democráticas e permanentes, pactuadas entre os entes da Federação
          (União, Estados, DF e Municípios) e a sociedade. O SNC é organizado em regime de colaboração, de forma
          descentralizada e participativa, tendo por objetivo promover o desenvolvimento humano, social e econômico
          com pleno exercício dos direitos culturais.{% endblocktrans %}</p>

          <p style="text-align: justify;">{% blocktrans %}Clique em <b>“criar novo ente federado”</b> no menu principal para iniciar o cadastro do seu estado ou município na plataforma do SNC.
          {% endblocktrans %}</p>
            {% elif request.session.sistema_cultura_selecionado %}
                
                {% if request.session.sistema_cultura_selecionado.estado_processo in "01367" %}
                      <p style="text-align: justify;"> 
                        {% blocktrans %} Clique na aba {% endblocktrans %}<b>“
                      
                        <a href="{% url 'adesao:cadastrar_sistema' %}" >
                        {% blocktrans %}
                            criar novo ente federado               
                        {% endblocktrans %}
                          </a>
                        {% blocktrans %}
                        ”</b> para iniciar o cadastro de um novo estado ou município"
                        {% endblocktrans %}
                        <p style="text-align: justify;">{% blocktrans %} Clique na aba {% endblocktrans %}<b>“
      
                        <a href="{% url 'adesao:alterar_sistema' pk=request.session.sistema_cultura_selecionado.id %}" >
                        {% blocktrans %}
                            alterar novo ente federado              
                        {% endblocktrans %}
                          </a>
                        {% blocktrans %}  
                        "</b> para alterar informações e dados do estado ou município já cadastrado. 
                        {% endblocktrans %}
                        <p style="text-align: justify;">Caso as informações do seu estado ou município já estejam atualizadas, clique em <br><b>”
                          <a href="{% url 'adesao:cadastrar_funcionario' sistema=request.session.sistema_cultura_selecionado.id %}">
                          {% blocktrans %}
                          gestor de cultura              
                          {% endblocktrans %}
                        </a>
                          {% blocktrans %}”</b> para iniciar o cadastro do gestor responsável pela pasta da cultura no
                          seu estado ou município (Ex: secretário de cultura, diretor do departamento de cultura, presidente da
                          fundação de cultura)
                          {% endblocktrans %}</p>
                    {% else %}
                      {% include "conclusao_cadastro_ente_federado.html" %}
                    {% endif %}
                    
            {% endif %}

        {% elif request.session.sistema_cultura_selecionado.estado_processo == '1' %}
          {% if request.session.sistema_sede.cnpj !=  '' %}
            {% if request.session.sistema_sede.cnpj is not None and request.session.sistema_gestor.cpf is not None %}
              {% if request.session.sistema_sede.cnpj !=  '' and request.session.sistema_gestor.cpf !=  ''   %}
                {% include "conclusao_cadastro.html" %}
              {% endif %}
              {% else %}
                {% include "conclusao_cadastro_ente_federado.html" %}
              {% endif %}
            {% endif %}
        {% elif request.session.sistema_cultura_selecionado.estado_processo == '2' %}
          <p>
            Informamos o recebimento da documentação física necessária para efetivar a adesão ao SNC.
          </p>

          <p>
            Nossa equipe realizará os procedimentos necessários à sua adesão.
          </p>

          <p>
            Por favor, aguarde nosso contato.
          </p>

          <p>
            Atenciosamente,
            <br> Equipe SNC
          </p>
        {% elif request.session.sistema_cultura_selecionado.estado_processo == '3' %}
          <p>
            Consta em nossos registros a pendência da seguinte documentação física necessária para
            efetivar a adesão ao SNC:<br><br>
            <strong>{{ historico.0.descricao }}</strong>
          </p>

          <p>
            <font color="red">Seu prazo para o envio é de <strong>30 dias</strong> corridos.</font>
          </p>

          <p>
            Atenciosamente,<br>
            Equipe SNC
          </p>
        {% elif request.session.sistema_cultura_selecionado.estado_processo == '4' %}
          <p>
            Prezado (a) {{ request.user.usuario.nome_usuario }},
          </p>
          <p>
            O acordo de cooperação foi enviado para assinatura do Secretário de Articulação Institucional, representante
            do ministério na assinatura do acordo. Em seguida, providenciaremos a publicação no Diário Oficial da União.
          </p>
          <p>
            Por favor, aguarde nosso contato.
          </p>
          <p>
            Atenciosamente,<br>
            Equipe SNC
          </p>
        {% elif request.session.sistema_cultura_selecionado.estado_processo == '5' %}
          <p>
            Prezado (a) {{ request.user.usuario.nome_usuario }}
          </p>
          <p>
            Sua solicitação foi confirmada pela nossa equipe. Estamos providenciando a publicação do seu acordo no
            Diário Oficial da união (DOU) e o (a) notificaremos por e-mail
          </p>
          <p>
            Por favor, aguarde nosso contato.
          </p>
          <p>
            Atenciosamente,<br>
            Equipe SNC
          </p>
        {% elif request.session.sistema_cultura_selecionado.estado_processo == '6' %}
            <meta http-equiv="REFRESH" content="0;url={% url 'planotrabalho:plano_trabalho' pk=request.session.sistema_cultura_selecionado.id %}">
        {% endif %}

        {% if request.session.sistema_cultura_selecionado.alterado_em %}
          <p>Última atualização em: {{ request.session.sistema_cultura_selecionado.alterado_em }}</p>
        {% endif %}

        {% if request.session.sistema_cultura_selecionado.alterado_por %}
          <p>Atualizado pelo usuário de CPF: {{ request.session.sistema_cultura_selecionado.alterado_por }}</p>
        {% endif %}

    {% endif %}

    {% if historico %}
        {% include "historico_mudancas.html" %}
    {% endif %}
    {% if request.session.sistema_cultura_selecionado.ente_federado %}
        {% include "dados_municipio.html" %}
    {% endif %}
    {% if request.session.sistema_gestor_cultura %}
        {% include "dados_gestor_cultura.html" %}
    {% endif %}
{% endblock content %}