{% extends "gestao/base_gestao.html" %} {% load gestao_tags %} {% block content %}
<menu data-target="plano" ></menu>

<div class="row">
    <div class="col-md-12">
        <div class="card">
        <div class="card-header card-header-tabs card-header-primary">
            <div class="nav-tabs-navigation">
            <div class="nav-tabs-wrapper">
                <span class="nav-tabs-title">Componentes:</span>
                <ul class="nav nav-tabs" data-tabs="tabs">

                <li class="nav-item">
                    <a class="nav-link active" href="#sistema_tab" data-toggle="tab">
                    Sistema de Cultura
                    <div class="ripple-container"></div>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#orgao_tab" data-toggle="tab">
                    Órgão Gestor
                    <div class="ripple-container"></div>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#conselho_tab" data-toggle="tab">
                        Conselho Cultura
                        <div class="ripple-container"></div>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#fundo_tab" data-toggle="tab">
                        Fundo de Cultura
                        <div class="ripple-container"></div>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#plano_tab" data-toggle="tab">
                        Plano de Cultura
                        <div class="ripple-container"></div>
                    </a>
                </li>

                </ul>
            </div>
            </div>
        </div>
        <div class="card-body">
            <div class="tab-content">
            <div class="tab-pane active" id="sistema_tab">
                {% include "gestao/planotrabalho/acompanhar_legislacao.html" %}
            </div>
            <div class="tab-pane" id="orgao_tab">
                {% include "gestao/planotrabalho/acompanhar_orgao_gestor.html" %}
            </div>
            <div class="tab-pane" id="conselho_tab">
                {% include "gestao/planotrabalho/acompanhar_conselho.html" %}
            </div>
            <div class="tab-pane" id="fundo_tab">
                {% include "gestao/planotrabalho/acompanhar_fundo_cultura.html" %}
            </div>
            <div class="tab-pane" id="plano_tab">
                {% include "gestao/planotrabalho/acompanhar_plano.html" %}
            </div>
            </div>
        </div>

        </div>
    </div>
</div>
{% endblock content %}
{% block js%}
<script type="text/javascript">
    var csrf_token = '{{ csrf_token }}';
    var tabelas = {}
    $('.datatable').each(function(index){
        let componente = this.id
        tabelas[`${componente}`] = $(`#${componente}`).DataTable({
            "autoWidth": false,
            order: [1, 'asc'],
            language:{
                    "url": "http://cdn.datatables.net/plug-ins/1.10.19/i18n/Portuguese-Brasil.json"
                },
            columns: [
                {
                data: null,
                name: "ente_federado",
                render: (data) => data[1],
                },
                {
                data: null,
                name: "sede__cnpj",
                render: (data) => data[2],
                },
                {
                data: null,
                name: "diligencia_arquivo",
                orderable: false,
                render: (data) => `
                    <a class="btn btn-sm btn-primary" href="/gestao/${data[0]}/diligencia/${data[4]}/arquivo">
                        <i class="material-icons">gavel</i>
                    </a>`
                },
                {
                data: null,
                name: "download_arquivo",
                orderable: false,
                render: (data) => `
                    <a class="btn btn-sm btn-primary" href="${data[3]}">
                        <i class="material-icons">save_alt</i>
                    </a>`
                },
                {
                    data: null,
                    name: "diligencia_lei",
                    orderable: false,
                    render: (data) => {
                        if (componente === 'conselho' || componente === 'fundo_cultura') {
                            if (data[5]) {
                                return `
                                    <a class="btn btn-sm btn-info" href="/gestao/${data[0]}/diligencia/${data[4]}/lei">
                                        <i class="material-icons">gavel</i>
                                    </a>`
                            }
                            return null
                        } else {
                            return null
                        }
                    }
                },
                {
                    data: null,
                    name: "download_lei",
                    orderable: false,
                    render: (data) => {
                        if (componente === 'conselho' || componente === 'fundo_cultura'){
                            if(data[5]){
                                return `
                                    <a class="btn btn-sm btn-info" href="${data[5]}">
                                        <i class="material-icons">save_alt</i>
                                    </a>`
                            }
                            return null
                        }else{
                            return null
                        }

                    }
                },
            ],
            searching: true,
            processing: true,
            serverSide: true,
            stateSave: true,
            ajax: {
            url: "{% url 'gestao:ajax_plano_trabalho' %}",
            data: {
                csrfmiddlewaretoken: csrf_token,
                componente: this.id
            },
            type: "POST",
            },
        });
    });

</script>
{% endblock js%}