<html>

<head>
  <title>Termo de Solicitação</title>
  <link href="http://{{static}}/static/css/bootstrap-3.2.0.min.css" rel="stylesheet">
  <link href="http://{{static}}/static/css/pdf.css" rel="stylesheet">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>

<center align="justify">
  <div class="row" style="margin:0; padding:0;">
    <center>
      <div class="col-xs-9 col-xs-offset-1">
        <h4><br><strong>Solicitação de Integração ao Sistema Nacional de Cultura</strong></h4>
      </div>
      <div class="col-xs-2">
        <img src="http://{{static}}/static/images/logo_snc_small.png">
      </div>
    </center>
  </div>
  <div class="row">
    <hr style="background-color:black;" />
    <center>
      {% if request.session.sistema_ente.cod_ibge > 100 %}
        <strong>Prefeitura</strong>
      {% else %}
        <strong>Governo</strong>
      {% endif %}
    </center>
    <hr style="background-color:black;" />
    {% if request.session.sistema_ente.cod_ibge > 100 %}
      <div class="col-xs-6">
        Município: {{ request.session.sistema_ente.nome }}
      </div>
    {% else %}
      <div class="col-xs-6">
        Estado: {{ request.session.sistema_ente.nome }}
      </div>
    {% endif %}
    <div class="col-xs-6">
      CNPJ: {{ request.session.sistema_sede.cnpj }}
    </div>
    <div class="col-xs-6">
      CEP: {{ request.session.sistema_sede.cep }}
    </div>
    <div class="col-xs-6">
      Logradouro: {{ request.session.sistema_sede.endereco }}
    </div>
    <div class="col-xs-6">
      Complemento: {{ request.session.sistema_sede.complemento }}
    </div>
    <div class="col-xs-6">
      Bairro: {{ request.session.sistema_sede.bairro }}
    </div>
    <div class="col-xs-10">
      Telefone Institucional: {{ request.session.sistema_sede.telefone_um }}; {{ request.session.sistema_sede.telefone_dois }}; {{ request.session.sistema_sede.telefone_tres }}
    </div>
  </div>

  <div class="row">
    <hr style="background-color:black;" />
    <center>
      <strong>Informações do Prefeito</strong>
    </center>
    <hr style="background-color:black;" />
    <div class="col-xs-12">
      CPF: {{request.session.sistema_gestor.cpf}}
    </div>
    <div class="col-xs-6">
      Nome Completo: {{request.session.sistema_gestor.nome}}
    </div>
    <div class="col-xs-6">
      RG: {{request.session.sistema_gestor.rg}}
    </div>
    <div class="col-xs-6">
      Órgão Expeditor: {{request.session.sistema_gestor.orgao_expeditor_rg}}
    </div>
    <div class="col-xs-10">
      Email Institucional: {{request.session.sistema_gestor.email_institucional}}
    </div>
  </div>

  <div class="row">
    <hr style="background-color:black;" />
    <center>
      <strong>Informações do Gestor de Cultura</strong>
    </center>
    <hr style="background-color:black;" />
    <div class="col-xs-12">
      CPF: {{request.session.sistema_gestor_cultura.cpf}}
    </div>
    <div class="col-xs-12">
      Nome Completo: {{request.session.sistema_gestor_cultura.nome}}
    </div>
    <div class="col-xs-4">
      RG: {{request.session.sistema_gestor_cultura.rg}}
    </div>
    <div class="col-xs-4">
      Órgão Expeditor: {{request.session.sistema_gestor_cultura.orgao_expeditor_rg}}
    </div>
    <div class="col-xs-4">
      UF: {{request.session.sistema_gestor_cultura.estado_expeditor_sigla}}
    </div>
    <div class="col-xs-12">
      Cargo: {{request.session.sistema_gestor_cultura.cargo}}
    </div>
    <div class="col-xs-12">
      Instituição: {{request.session.sistema_gestor_cultura.instituicao}}
    </div>
    <div class="col-xs-12">
      Email Institucional: {{request.session.sistema_gestor_cultura.email_institucional}}
    </div>
    <div class="col-xs-10">
      Telefone Institucional: {{request.session.sistema_gestor_cultura.telefone_um}}; {{request.session.sistema_gestor_cultura.telefone_dois}}; {{request.session.sistema_gestor_cultura.telefone_tres}}
    </div>
  </div>

  <br /><br />
  <div class="row">
    <hr style="background-color:black;" />
    <center>
      <strong>Informações do Cadastrador</strong>
    </center>
    <hr style="background-color:black;" />
    <div class="col-xs-12">
      <div class="col-xs-12">
        CPF: {{request.user.username}}
      </div>
      <div class="col-xs-12">
        Nome Completo: {{request.user.usuario.nome_usuario}}
      </div>
      <div class="col-xs-12">
        Email: {{request.user.email}}
      </div>
      <div class="col-xs-12">
        *Cadastrador é quem insere as informações na Plataforma de Integração e Monitoramento do SNC, devendo assegurar a confiabilidade dos dados e arquivos apresentados.
      </div>
    </div>
  </div>

  <div class="row">
    <hr style="background-color:black;" />
    <center>
      <strong>Declaração de Responsabilidade do Governador ou Prefeito</strong>
    </center>
    <div class="col-xs-12">
      <hr style="background-color:black;" /> <p>Solicito a integração deste município ao Sistema Nacional de Cultura, através da assinatura do Acordo de Cooperação Federativa, Ressalto que estou ciente de que esta solicitação
      <strong>deve ser acompanhada dos documentos básicos</strong> sem os quais a análise e a tramitação do processo ficarão prejudicadas,
      <strong><u>Responsabilizo-me, pela veracidade das informações e pelos documentos
                 apresentados, e que estou ciente de que qualquer inexatidão dos itens
                 informados poderá sujeitar-me às penalidades previstas no artigo 299 do
                 Código Penal Brasileiro, sem prejuízo de outras medidas administrativas cabíveis.</u></strong></p>
    </div>
  </div>

  <div class="row">
    <hr style="background-color:black;" />
    <center>
      <strong>Autorização</strong>
    </center>
    <hr style="background-color:black;" />
    <div class="col-xs-12">
      <p>Autorizo a divulgação das informações de interesse público contidas na
         Plataforma do Sistema Nacional de Cultura, observada a Lei Geral de
         Proteção de Dados Pessoais (Lei nº 13.709, de 14 de agosto de 2018) e a Lei
         de Acesso à Informação (Lei nº 12.527, de 18 de novembro de 2011).<br></p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <p>
        <center>
          <br>______________________________________________
        </center>
      </p>
      </center>
      <p>
        <center>
        <strong>{{request.session.sistema_gestor.nome}}</strong>
        <br>
        <strong>Prefeito (a) do Município de {{request.session.sistema_ente.nome}}</strong>
        </center>
      </p>

    </div>
  </div>
  </body>

</html>
