{% extends "base.html" %}
{% block content %}
{% load widget_tweaks %}
<div class="container">
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <h3>
    <strong>Elaboração do Plano de Cultura</strong>
  </h3>

  <div class="form-group">
    <label for="{{ form.exclusivo_cultura.id_for_label }}">
      O plano é exclusivo de cultura?</br>
    </label>
    {% for radio in form.exclusivo_cultura %}
      {{ radio }}</br>
    {% endfor %}
    {{ form.exclusivo_cultura.errors }}
  </div>

  <div class="form-group">
    <label for="{{ form.possui_anexo.id_for_label }}">
      A lei possui anexo?</br>
    </label>
    {% for radio in form.possui_anexo %}
      {{ radio }}</br>
    {% endfor %}
    {{ form.possui_anexo.errors }}
  </div>

  <div class="form-group">
    <label for="{{ form.anexo_na_lei.id_for_label }}">
      O anexo já consta no mesmo arquivo da lei?</br>
    </label>
    {% for radio in form.anexo_na_lei %}
      {{ radio }}</br>
    {% endfor %}
    {{ form.anexo_na_lei.errors }}
  </div>

  <div class="form-group">
    <label for="{{ form.anexo_lei.id_for_label }}">
      Arquivo de anexo da lei
    </label>
    {% render_field form.anexo_lei %}
    {{ form.anexo_lei.errors }}
  </div>

  <div class="form-group">
    <label for="{{ form.ultimo_ano_vigencia.id_for_label }}">
      Qual o último ano de vigência do Plano de Cultura?
    </label>
    {% render_field form.ultimo_ano_vigencia class="form-control" %}
    {% if form.ultimo_ano_vigencia.errors %} 
      <span class="help-block">{{ form.ultimo_ano_vigencia.errors }}</span>
    {% endif %}
  </div>

  <div class="form-group">
    <label for="{{ form.periodicidade.id_for_label }}">
      Qual a periodicidade do plano?
    </label>
    {% render_field form.periodicidade class="form-control" %}
    {% if form.periodicidade.errors %} 
      <span class="help-block">{{ form.periodicidade.errors }}</span>
    {% endif %}
  </div>

  <div class="form-group">
    <label for="{{ form.possui_metas.id_for_label }}">
      Possui metas?</br>
    </label>
    {% for radio in form.possui_metas %}
      {{ radio }}</br>
    {% endfor %}
    {{ form.possui_metas.errors }}
  </div>

  <div class="form-group">
    <label for="{{ form.metas_na_lei.id_for_label }}">
      As metas estão descritas no mesmo dogumento da Lei do Plano de Cultura e seu anexo (se houver)?</br>
    </label>
    {% for radio in form.metas_na_lei %}
      {{ radio }}</br>
    {% endfor %}
    {{ form.metas_na_lei.errors }}
  </div>

  <div class="form-group">
    <label for="{{ form.arquivo_metas.id_for_label }}">
      Arquivo com as metas
    </label>
    {% render_field form.arquivo_metas %}
    {{ form.arquivo_metas.errors }}
  </div>

  <div class="form-group">
    <label for="{{ form.monitorado.id_for_label }}">
      O plano é monitorado?</br>
    </label>
    {% for radio in form.monitorado %}
      {{ radio }}</br>
    {% endfor %}
    {{ form.monitorado.errors }}
  </div>

  <div class="form-group">
    <label for="{{ form.local_monitoramento.id_for_label }}">
      Indique o local onde o resultado do monitoramento pode ser visualizado
    </label>
    {% render_field form.local_monitoramento class="form-control" %}
    {% if form.local_monitoramento.errors %} 
      <span class="help-block">{{ form.local_monitoramento.errors }}</span>
    {% endif %}
  </div>

  <div class="form-group">
    <label for="{{ form.participou_curso.id_for_label }}">
      Para a construção do Plano de Cultura, o ente federado participou de algum Programa de Formação de Gestores e Conselheiros Culturais?</br>
    </label>
    {% for radio in form.participou_curso %}
      {{ radio }}</br>
    {% endfor %}
    {{ form.participou_curso.errors }}
  </div>

   <div class="form-group">
    <label for="{{ form.ano_inicio_curso.id_for_label }}">
      Indique o ano de início do curso
    </label>
    {% render_field form.ano_inicio_curso class="form-control" %}
    {% if form.ano_inicio_curso.errors %} 
      <span class="help-block">{{ form.ano_inicio_curso.errors }}</span>
    {% endif %}
  </div>

  <div class="form-group">
    <label for="{{ form.ano_termino_curso.id_for_label }}">
      Indique o ano de término do curso
    </label>
    {% render_field form.ano_termino_curso class="form-control" %}
    {% if form.ano_termino_curso.errors %} 
      <span class="help-block">{{ form.ano_termino_curso.errors }}</span>
    {% endif %}
  </div>

  <div class="form-group">
    <label for="{{ form.esfera_federacao_curso.id_for_label }}">
      Indique por qual esfera da federação foi ofertado o curso?</br>
    </label>
    {% render_field form.esfera_federacao_curso %}
  </div>

  <div class="form-group">
    <label for="{{ form.tipo_curso.id_for_label }}">
      Indique o tipo do curso?</br>
    </label>
    {% render_field form.tipo_curso %}
  </div>

  <div class="form-group">
    <label for="{{ form.perfil_participante.id_for_label }}">
      Qual o perfil do participante?</br>
    </label>
    {% render_field form.perfil_participante %}
  </div>

  <div class="alert alert-info" role="alert">
    <strong>Para execução, sugerimos as seguintes atividades:</strong><br>

    - Sensibilização e mobilização social;<br>
    - Definição das instâncias de consulta e debate;<br>
    - Definição da instância técnica para elaborar a minuta do Plano;<br>
    - Acompanhamento/ coordenação e validação: feito pelo Conselho Municipal de Política
    Cultural;<br>
    - Elaboração do Plano de Cultura:<br>
    <p style= "margin-left: 30px;" >
        a) Passo 1: elaborar uma análise situacional (diagnóstico da cultura);<br>
        b) Passo 2: elaborar prognóstico com objetivos, estratégias, metas e ações
        (Projeção do futuro desejado);<br>
        c) Passo 3: realizar consulta pública para validação do texto;<br>
        d) Passo 4: revisar o plano com base nas considerações compiladas durante a consulta pública;<br>
    </p>
        - Encaminhar para validação do conselho de cultura;<br>
        - Encaminhar para assinatura do governador/prefeito;<br>
        - Encaminhar o projeto de lei do plano para o poder legislativo (assembleias legislativas, câmara dos vereadores e câmara legislativa) aprovar;<br>
        - Quando o projeto virar lei, ele deverá ser publicado no Diário Oficial;<br><br>
        - <strong>Observação:&nbsp</strong><br>
        - Guia de elaboração de Plano de Cultura no site: <a href="http://portalsnc.cultura.gov.br/wp-content/uploads/sites/32/2018/04/Planos-Municipais-de-Cultura_Guia-de-Elaborac%CC%A7a%CC%83o-UFBA_MinC-FINAL-2.pdf"> http://portalsnc.cultura.gov.br/wp-content/uploads/sites/32/2018/04/Planos-Municipais-de-Cultura_Guia-de-Elaborac%CC%A7a%CC%83o-UFBA_MinC-FINAL-2.pdf</a><br>
        - Manuais disponíveis no site: <a href="http://portalsnc.cultura.gov.br/manuais/"> http://portalsnc.cultura.gov.br/manuais/</a><br>
        - Capacitação para elaboração do Plano de Cultura: <a href="http://portalsnc.cultura.gov.br/capacitacao/"> http://portalsnc.cultura.gov.br/capacitacao/</a><br>
        - Componentes Sistema de Cultura: <a href="http://portalsnc.cultura.gov.br/sistemas-de-cultura/"> http://portalsnc.cultura.gov.br/sistemas-de-cultura/</a><br>
    </p>
  </div>

  <input type="submit" class="btn btn-success" value="Salvar" />
</form>
</div>
<script type="text/javascript">
  $(document).ready(function(){

    if($('#id_mesma_lei_1').is(":checked")){
      $('#lei_data_form').css('display', 'block');
    }
    if($('#id_mesma_lei_0').is(":checked")){
      $('#lei_data_form').css('display', 'none');
    }

    $('input[name=mesma_lei]').change(function() { 
      if(this.value=='False') {
        $('#lei_data_form').fadeIn();
      }
      else {
        $('#lei_data_form').fadeOut();
      }
    })

    if($('#id_possui_ata_1').is(":checked")){
      $('#ata_form').css('display', 'none');
    }
    if($('#id_possui_ata_0').is(":checked")){
      $('#ata_form').css('display', 'block');
    }

    $('input[name=possui_ata]').change(function() { 
      if(this.value=='False') {
        $('#ata_form').fadeOut();
      }
      else {
        $('#ata_form').fadeIn();
      }
    })
  });
</script>
{% endblock content %}