{% load widget_tweaks %}

{% block content %}
<div class="row">
  <div id="form-type" data-form-type="{{is_edit}}"></div>
  {% if view.kwargs.tipo == 'plano' %}
    {% include "planotrabalho/cadastrar_plano.html" %}
  {% elif view.kwargs.tipo == 'conselho' %}
    {% include "planotrabalho/cadastrar_conselho.html" %}
  {% elif view.kwargs.tipo == 'legislacao' %}
    {% include "planotrabalho/cadastrar_sistema.html" %}
  {% elif view.kwargs.tipo == 'orgao_gestor' %}
    {% include "planotrabalho/cadastrar_orgao.html" %}
  {% elif view.kwargs.tipo == 'fundo_cultura' %}
    {% include "planotrabalho/cadastrar_fundo.html" %}
  {% endif %}
</div>
{% endblock content %}
{% block js %}

<script type="text/javascript">
  $(document).ready(function () {
    var formularioComponente = $('form.componente-form');
    if ($('#form-type').data('form-type') === 'True'){
      formularioComponente.after(`
        <a type="button" id="botaoSalvarConfirmacao" class="btn btn-success">Salvar</a>
      `);
    } else {
      formularioComponente.after(`
        <button type="submit" id="botaoSalvar"class="btn btn-success">Salvar</button>
      `);
    }

    $('#botaoSalvarConfirmacao').on('click', () => {
      var confirmacao = confirm('Deseja mesmo alterar o arquivo? Isso poderá acarretar na mudança de posição na fila de análise do seu processo.');
      if (confirmacao == true) {
        formularioComponente.submit();
      }
    });

    $('#botaoSalvar').on('click', () => {
      formularioComponente.submit();
    });

  });
</script>

{% endblock js %}