<div class="modal fade" id="cadastradorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="cadastradorModalLabel">Alterar Cadastrador</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form method="POST" autocomplete="off" action={% url 'gestao:alterar_cadastrador' object.ente_federado.cod_ibge %}>
					<div class="card-body">
							<div class="form-group">
								<label for="nome-atual">Nome</label>
								<input type="text" class="form-control" id="nome-atual" disabled>
							</div>
							<div class="form-group">
								<label for="cpf-atual">CPF</label>
								<input type="text" class="form-control" id="cpf-atual" disabled>
							</div>
							<div class="form-group">
								<label for="nome-novo" class="col-form-label">Novo Cadastrador</label>
								<input type="text" class="form-control" id="nome-novo" disabled>
							</div>
							<div id="cpf_form" class="form-group">
								{% csrf_token %}
								<div class="form-group form-file-upload form-file-multiple">
									<div class="input-group">
										<input type="text" class="form-control" placeholder="Procurar pelo CPF" id="id_cpf_usuario" name="cpf_cadastrador"/>
										<span class="input-group-btn">
											<button type="button" class="btn btn-fab btn-round btn-info" id="search_cpf" onclick="search()">
												<i class="material-icons">search</i>
											</button>
										</span>
									</div>
								</div>
							</div>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
						<button type="submit" class="btn btn-primary">Alterar Cadastrador</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

