{% extends "gestao/base_gestao.html" %} {% load gestao_tags %} 
{% block content %}
  <menu data-target="troca-cadastrador"></menu>
  <form id="form-solicitacao" role="form" class="form-horizontal" method="post">{% csrf_token %}
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <div class="card">
        <div class="card-header card-header-primary">
          <h4 class="card-title">Solicitação de Cadastrador</h4>
        </div>
        <div class="card-body">
          <p><strong>CPF:</strong> {{solicitacao.alterado_por}}</p>
          <p><strong>Nome:</strong> {{solicitacao.alterado_por.nome_usuario}}</p>
          <p><strong>Ente Federado:</strong> {{solicitacao.ente_federado}}</p>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-6">
      <div class="card">
        <div class="card-header card-header-primary">
          <h4 class="card-title">Ofício</h4>
        </div>
        <div class="card-body">
          <p><strong>Ofício:</strong>
            <a href="{% if solicitacao.oficio %} {{ solicitacao.oficio.url }} {% endif %}"
               target="_blank"> {{ solicitacao.oficio }}</a></p>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-6">
      <div class="card">
        <div class="card-header card-header-primary">
          <h4 class="card-title">Análise</h4>
        </div>
        <div class="card-body">
          <p><strong>Situação:</strong> {{solicitacao.get_status_display}}  </p>
          <p><strong>Motivo: </strong> </p>
          <table class="table table-borderless" style="width: 50%;">
            <tbody>
              <tr>
                <td> <a id="btn_aprovar" type="submit" class="btn btn-success active" role="button" aria-pressed="true" >Aprovar</a></td>
                <td> 
                  
                  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
                    Rejeitar
                  </button>
                
                </td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>

    <div class="modal" tabindex="-1" role="dialog" id="exampleModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Motivo da Rejeição</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <label for="comment">Informe o motivo da rejeição:</label>
            <p><textarea id="id-motivo" class="form-control" rows="5" id="motivo">{% if not solicitacao.laudo == null %} {{solicitacao.laudo}} {% endif %} </textarea></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary">Salvar</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  </form>
 {% endblock content %}
 {% block js%}
 <script type="text/javascript">
 $(document).ready(function(){
 
   csrf_token = '{{ csrf_token }}';
 
   var salvarLaudo = () => {
     let id_solcitacao = {{ solicitacao.id }};
     let laudo = $('#id-motivo').val();
     let status = 1;

     if( laudo ){
       let status = 2;
     }
 
     $('#form-solicitacao').ajaxSubmit({
       url: "{% url 'gestao:alterar_solicitacao_cadastrador' %}",
       type: 'POST',
       data: {
         id: id_solcitacao,
         status : status,
         laudo : laudo,
         csrfmiddlewaretoken: csrf_token
       },
       cache: false,
       success: function (response) {
         tabela.ajax.reload(null, false)
         $.notify(
           {
             icon: "check_circle",
             message: 'Prazo aditivado com sucesso.',
           },
           { type: "success" }
         );
       },
       error: function (error) {
         tabela.ajax.reload(null, false)
         $.notify(
           {
             icon: "error",
             message: 'Erro ao salvar dados.',
           },
           { type: "danger" }
         );
       },
     });
   }
 
   $('#btn_aprovar').on('click', salvarLaudo);
  
 });
 </script>
 {% endblock js %}