{% load gestao_tags %} {% block content %}
<div class="row">
<div class="col-lg-12">
     <!-- @TODO Corrigir requisição datatable -->
      <div class="card card-default">
        <div class="card-header card-plain card-header-primary">
            <p class="card-category">Anexo da etapa de Criação do Órgão Gestor</p>
        </div>
        <div class="card-body table-responsive">
            <table id="orgao_gestor" class="datatable table table-hover">
                <thead class="text-primary">
                    <tr>
                      <th>Município/Estado</th>
                      <th>CNPJ</th>
                      <th>Avaliar</th>
                      <th>Anexo</th>
                    </tr>
                  </thead>
            </table>
        </div>
      </div>
    </div>
</div>
{% endblock content %}