{% extends "gestao/base_gestao.html" %} {% load widget_tweaks %} {% block content %}
<div class="row">
  {{form.media}}
  <div class="col-md-5">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title">Normativo do Órgão Gestor de Cultura</h4>
        <p class="card-category">Inserir normativo que cria o Órgão Gestor de Cultura</p>
      </div>
      <div class="card-body">
        <form class="form-horizontal" method="post" enctype=multipart/form-data>{% csrf_token %}

          <div class="form-group">
            <div class="col-sm-12">
              {% render_field form.arquivo %}
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
                <label>
                    Data de Publicação da Lei
                </label>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
                {% render_field form.data_publicacao class="date" %}
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <label>
                  Qual o perfil do órgão gestor de cultura?
              </label>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
                {% render_field form.perfil class="form-control" %}
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-11">
              <button type="submit" class="btn btn-primary">Salvar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
