{% extends "gestao/base_gestao.html" %} {% load widget_tweaks %} {% block content %}
<div class="row">
    {{form.media}}
    <div class="col-md-5">
      <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title">Edição do Componente</h4>
        <p class="card-category">Lei do Fundo de Cultura</p>
      </div>
      <div class="card-body">
        <form class="form-horizontal" method="post" enctype=multipart/form-data>{% csrf_token %}
          <div class="row">
              <div class="col-md-12">
                {% render_field form %}
              </div>
          </div>
        <button type="submit" class="btn btn-primary pull-right">Salvar</button>
        <a class="btn btn-secondary pull-right" href="{% url 'gestao:acompanhar_adesao' %}">Cancelar</a>
        </form>
      </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-11">
          <a class="btn btn-default" href="{% url 'gestao:listar_documentos' template='listar_fundo_cultura' %}">Cancelar</a>
          <button type="submit" class="btn btn-primary">Salvar</button>

        </div>
      </div>
    </form>
  </div>
</div>
{% endblock content %}
