{% extends "gestao/base_gestao.html" %} {% load widget_tweaks %} {% block content %}

<div class="row">
  <div class="col-md-4">
      <div class="card card-default">
          <div class="card-header card-plain card-header-primary">
              <h4 class="card-title">Componente</h4>
              <p class="card-category">Inserir arquivos do conselho cultural no cadastro</p>
          </div>
          <div class="card-body">
              <form class="form-horizontal" method="post" enctype=multipart/form-data>{% csrf_token %}
                <div class="form-group {% if form.arquivo.errors %} has-error {% endif %}">
                    <div class="col-sm-12">
                      {% render_field form.arquivo %}
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-sm-12">
                      {% render_field form.data_publicacao class="date" %}
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-sm-12 control-label">Anexo da Lei</label>

                    <div class="col-sm-12">
                      {% render_field form.arquivo_lei %}

                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-sm-12 control-label">Data de publicação da Lei</label>

                    <div class="col-sm-12">
                      {% render_field form.data_publicacao_lei class="date" %}
                    </div>
                  </div>

                  <div class="form-group">
                      <div>
                          <button type="submit" class="btn btn-primary pull-right">Salvar</button>
                          <a class="btn btn-secondary pull-right" href="{% url 'gestao:detalhar' cod_ibge=sistema.ente_federado.cod_ibge %}">Cancelar</a>
                      </div>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>

{% endblock content %}