{% extends "gestao/base_gestao.html" %} {% load widget_tweaks %} {% block content %}
<div class="panel panel-default">
  <div class="panel-heading">
    Inserir arquivos do conselho cultural no cadastro
  </div>
  <div class=" card-body">
    <form class="form-horizontal" method="post" id="form" enctype=multipart/form-data>{% csrf_token %} <div>
      <div class="form-group {% if form.arquivo.errors %} has-error {% endif %}">
        <label class="col-sm-3 control-label">Anexo da Ata</label>

        <div class="col-sm-7">
          {% render_field form.arquivo %}

        </div>
        <div class="col-sm-offset-3 col-sm-9">
          <span class="help-block">{{ form.arquivo.errors }}</span>
          <span class="help-block">{{ form.non_field_errors }}</span>

        </div>
      </div>

      <div class="form-group {% if form.data_publicacao.errors %} has-error {% endif %}">
        <label class="col-sm-3 control-label">Data de publicação da Ata</label>

        <div class="col-sm-7">
          {% render_field form.data_publicacao class="date" %}
        </div>
        <div class="col-sm-offset-3 col-sm-9">
          <span class="help-block">
            <span class="help-block">{{ form.data_publicacao.errors }}</span>
            <span class="help-block">{{ form.non_field_errors }}</span>
          </span>
        </div>
      </div>

      <div class="form-group {% if form.arquivo_lei.errors %} has-error {% endif %}">
        <label class="col-sm-3 control-label">Anexo da Lei</label>

        <div class="col-sm-7">
          {% render_field form.arquivo_lei %}

        </div>
        <div class="col-sm-offset-3 col-sm-9">
          <span class="help-block">{{ form.arquivo_lei.errors }}</span>
          <span class="help-block">{{ form.non_field_errors }}</span>

        </div>
      </div>

      <div class="form-group {% if form.data_publicacao_lei.errors %} has-error {% endif %}">
        <label class="col-sm-3 control-label">Data de publicação da Lei</label>

        <div class="col-sm-7">
          {% render_field form.data_publicacao_lei class="date" %}
        </div>
        <div class="col-sm-offset-3 col-sm-9">
          <span class="help-block">
            <span class="help-block">{{ form.data_publicacao_lei.errors }}</span>
            <span class="help-block">{{ form.non_field_errors }}</span>
          </span>
        </div>
      </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-11">
      <a class="btn btn-default" href="">Cancelar</a>
      <button type="submit" class="btn btn-primary">Salvar</button>
    </div>
  </div>
  </form>
</div>
</div>

<style>
  /* @TODO migrar para arquivo separado */
  .card-input-file .card-header+.card-footer {
    border-top: 1px solid #eee;
    margin-top: 20px;
  }

  .card-input-file .card-header.card-header-icon,
  .card-input-file .card-header.card-header-text {
    text-align: right;
  }

  .card-input-file .card-header .file-label-name:not([class*="text-"]) {
    color: #999999;
    font-size: 14px;
  }

  .card-input-file .card-header .card-icon+.file-name,
  .card-input-file .card-header .card-icon+.card-category {
    padding-top: 10px;
  }

  .card .upload-icon {
    border-radius: 3px;
    background-color: white;
    padding: 15px;
    margin-top: -20px;
    margin-right: 15px;
    float: left;
    border-style: dashed;
    border-color: #999999;
  }

  .upload-icon .material-icons {
    color: #999999;
  }


  .card .card-footer .stats {
    color: #999999;
    font-size: 12px;
    line-height: 22px;
  }

  .card .card-header.card-header-icon .file-name,
  .card .card-header.card-header-text .file-name {
    margin-top: 15px;
    color: #3C4858;
  }

  .card .upload-icon:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer;
  }

  input[type='file'] {
    display: none
  }
</style>
{% endblock content %}

{% block js%}
<script type="text/javascript">

  onDragEnter = function (event) {
    event.preventDefault();
  },

    onDragOver = function (event) {
      event.preventDefault();
    },

    onDragLeave = function (event) {
      event.preventDefault();
    },

    onDrop = function (event, a) {
      event.preventDefault();
      var inputId = $(event.target).data('target');
      var input = document.getElementById(inputId);
      var inputName = input.name
      var fileName = event.originalEvent.dataTransfer.files[0].name;
      var file = event.originalEvent.dataTransfer.files;

      $('#file-name-termo_posse').html(fileName);
      $(`#footer-${inputName}`).hide()

      input.files = event.originalEvent.dataTransfer.files;
    };

  $('input[type="file"]').each((key, element) => {
    $(`#${element.id}`).on("change", function (event) {
      var inputName = event.target.name;
      var newFile = event.target.files[0];
      $(`#file-name-${inputName}`).html(newFile.name);
      $(`#footer-${inputName}`).hide();
    });

    $(`#drag-space-${element.name}`)
      .on("dragenter", onDragEnter)
      .on("dragover", onDragOver)
      .on("dragleave", onDragLeave)
      .on("drop", onDrop)
      .on("click", function () {
        $(`#${element.id}`).trigger('click');
      });
  });

</script>
{% endblock js%}